<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/rathga/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="rathga" />
            <add key="ClearTextPassword" value="2f4020db174e590a111146c8bc65cc9244c5e6ba" />
        </github>
    </packageSourceCredentials>
</configuration>