<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/rathga/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="rathga" />
            <add key="ClearTextPassword" value="09e28e895cdad89e253a7327b8346c4b1c6159d8" />
        </github>
    </packageSourceCredentials>
</configuration>